<h1 class="text-4xl font-semibold mb-4">Dashboard</h1>

<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim fuga beatae
  sequi ullam impedit ab odio velit nobis aliquam sit nemo, possimus explicabo
  laboriosam consequuntur repellat quod a quibusdam! Adipisci.
</p>
<p>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque quod, adipisci
  laborum, exercitationem quia consectetur officia quibusdam voluptatem numquam
  delectus ab deserunt! Ratione deleniti corrupti, voluptatem consequuntur
  asperiores nam sed!
</p>
<p>
  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptas nobis hic
  commodi dicta, doloremque perspiciatis quasi molestias! Quo qui unde
  architecto rem quasi! Illum, asperiores! Illum tempora sint consequuntur
  doloribus!
</p>
