<h1 class="text-4xl font-semibold mb-4">Posts</h1>

<table class="table-auto">
  <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="whitespace-nowrap">Lorem 1</td>
      <td>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quod voluptate
        architecto maxime error nostrum corporis rerum aliquid modi numquam
        sapiente reprehenderit laudantium dolor vero neque, omnis aliquam iure
        dolore in!
      </td>
    </tr>
    <tr>
      <td class="whitespace-nowrap">Lorem 2</td>
      <td>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore
        laboriosam voluptas excepturi. Suscipit quae vitae et voluptatum sit
        autem minus similique rem, blanditiis dolor. Beatae nulla nemo ipsam
        autem inventore.
      </td>
    </tr>
    <tr>
      <td class="whitespace-nowrap">Lorem 3</td>
      <td>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eveniet sed
        quas neque! Dignissimos eum vel earum quas quidem, tempora mollitia
        aliquid impedit architecto perferendis cum nobis incidunt sapiente.
        Tenetur, veritatis!
      </td>
    </tr>
  </tbody>
</table>
