@tailwind base;
@tailwind components;
@tailwind utilities; /* You can add global styles to this file, and also import other style files */

p {
  margin-bottom: 0.5rem;
}

table {
  width: 100%;
  thead tr th,
  tbody tr td {
    text-align: left;
    padding: 0.5rem;
  }

  tbody tr:nth-child(odd) td {
    background-color: #f6f8f7;
  }

  tbody tr:hover td {
    background-color: darken($color: #f6f8f7, $amount: 2);
  }
}
